* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Rokkitt', serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #3A3335;
  text-decoration: none;
}

ul {
  list-style: none;
}
 
nav {
  background-color: #252122;
  color: #eee;
  padding: 15px;
  height: 100%;
  width: 250px;
  position: fixed;
}

h1 {
  letter-spacing: .04em;
}

h3 {
  letter-spacing: .04em;
}

.logo {
  padding: 30px 0;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(255, 0, 0, 0.6);
}

.logo h1{
  font-size: 2.5rem;
}

.logo h3 {
  font-size: 1.5rem;
}

main {
  padding-left: 250px;
}

h2 {
  font-size: 2rem; 
}

a {
  color: #eee;
}

blockquote {
  border-left: 3px solid;
  font-size: 2rem;
  color: red;
  margin: 35px 0;
  padding: 1rem;
}

p {
  font-size: 1.5rem;
  padding: 10px;
}

.nav-li {
  padding: 10px;
  font-size: 1.5rem;
  color: #eee;
}

.nav-li:hover {
  border-left: 3px solid;
}

.red {
  color: rgba(255, 0, 0, 0.6);
}

.orange {
  color: rgba(255, 165, 0, 0.6);
}

.yellow {
  color: rgba(255, 255, 0, 0.6);
}

.green {
  color: rgba(0, 128, 0, 0.6);
}

.blue {
  color: rgba(0, 0, 255, 0.6);
}

.purple {
  color: rgba(128, 0, 128, 0.6);
}

.white {
  color: rgba(255, 255, 255, 0.6);
}

.background {
  width: 100%
}

.container {
  width: 95%;
  margin: 20px auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.card {
  max-width: 800px;
  margin: 40px auto;
  padding: 10px;
  border: solid black 1px;
}

.card p {
  font-size: 1rem;
}

.card-header {
  border-bottom: 1px solid black;
  margin: 0 20px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  padding-left: 10px;
}

.project-card-header {
  border-bottom: 1px solid black;
  margin: 0 20px;
  display: flex; 
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-left: 10px;
}
.card-header-text {
  text-align: right;
}

.card-header-text p {
  padding: 0;
  font-weight: 900;
  font-size: 1.3rem;
}

.project-card-header-text {
  width: 70%;
  text-align: right;
}

.card-content {
  padding: 10px 0 30px 0;
}

.card-content ul {
  margin: 0 auto;
  width: 90%;
  list-style: disc;
  font-size: 1.3rem;
}

section h1 {
  color: #eee;
  font-size: 3rem;
  padding: 20px 0 0 20px;
}

.icon {
  height: 60px;
}

.project-img {
  height: 200px;
}

.skill-container{
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
}

.skill-card {
  text-align: center;
  flex-grow: 1;
  width: 24%;
  height: 200px;
  padding: 20px 0;
  margin: 10px 20px;
  border: solid 1px black;
}

.skill-icon {
  width: 100px;
}

#about h1 {
  background: rgba(255, 0, 0, 0.6);
}

#experience h1 {
  border-left: 75px solid orange;
  border-bottom: 5px solid orange;
}


#projects h1 {
  border-left: 75px solid yellow;
  border-bottom: 5px solid yellow;
}

#skills h1 {
  border-left: 75px solid green;
  border-bottom: 5px solid green;
}

#education h1 {
  border-left: 75px solid blue;
  border-bottom: 5px solid blue;
}

#contact h1 {
  border-left: 75px solid purple;
  border-bottom: 5px solid purple;
}

#mtg-logo {
  border-radius: 50%;
}
