* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Rokkitt', serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  height: 100vh;
}

nav {
  background-color: #3A3335;
  color: #eee;
  padding: 15px;
  height: 100%;
  flex: 0 0 190px;
}

main {
  flex: 1;
  overflow-y: scroll;
}

a {
  color: #eee;
}

.nav-li {
  padding: 5px;
  font-size: 1.5rem;
  color: #eee;
}

.nav-li:hover {
  border-left: 3px solid;
}

.red {
  color: red !important;
}

.orange {
  color: orange !important;
}

.yellow {
  color: yellow !important;
}

.green {
  color: green !important;
}

.blue {
  color: blue !important;
}

.purple {
  color: purple !important;
}

.white {
  color: white !important;
}

.background {
  width: 100%
}
