* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Rokkitt', serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  height: 100vh;
  background-color: #3A3335;
}

nav {
  background-color: #252122;
  color: #eee;
  padding: 15px;
  height: 100%;
  width: 230px;
  position: fixed;
}

.logo {
  padding: 30px 0;
  margin-bottom: 5px;
  border-bottom: 1px solid red;
}

.logo h1{
  font-size: 2.5rem;
}

.logo h3 {
  font-size: 1.5rem;
}

main {
  padding-left: 230px;
}

a {
  color: #eee;
}

blockquote {
  border-left: 3px solid;
  font-size: 2rem;
  margin: 35px 0;
  padding: 1rem;
}

p {
  font-size: 1.5rem;
  padding: 10px;
}

.nav-li {
  padding: 10px;
  font-size: 1.5rem;
  color: #eee;
}

.nav-li:hover {
  border-left: 3px solid;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.purple {
  color: purple;
}

.white {
  color: white;
}

.background {
  width: 100%
}

.container {
  width: 95%;
  margin: 20px auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

#intro {
  background-color: red;
}

section h1 {
  color: #eee;
  font-size: 3rem;
  padding: 10px 0 30px 15px;
}

#about h1 {
  background: red;
}

#experience h1 {
  background: orange;
}
