* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Rokkitt', serif;
  box-sizing: border-box;
}

body {
  background-color: white;
  display: flex;
}

ul {
  list-style: none;
}

aside {
  background-color: #282828;
  color: #eee;
  padding: 15px;
  width: 300px;
  font-size: 18px;
}

h1 {
  margin: 0 0 1em 0;
}

aside img {
  height: 1em;
  float: left;
  margin-right: 5px;
}

aside li {
  clear: left;
}
aside p {
  margin: 0 0 2em 0;
}

aside a {
  color: #eee;
}

aside a:hover {
  color: #DB3A34;
}

h1 {
  font-size: 32px;
  letter-spacing: .05em;
}

h3 {
  letter-spacing: .05em;
}

hr {
  border-color: #DB3A34;
  margin: 10px 0 1em 0;
}

main {
  padding: 0 20px;
  width: 60%;
  height: 100%;
}

main h3 {
  margin-top: 10px;
}

.employment ul {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.employment ul > li {
    margin-left: 15px;
}

.employment ul > li::before {
    content: "-";
    margin-left: -15px;
}

main h3 {
  color: #DB3A34;
}

.skills {
  margin-top: 10px;
}

.experience-heading {
  display: flex;
  justify-content: space-between;
}

.right {
  margin-top: 10px;
  text-align: right;
}
